
#header{
    background-color:hsl(261, 73%, 43%);
    height: 50px;
    display:  flex;
    justify-content: center;
    padding: 15px 50px;
    align-items: center;
    font-size: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

#header div {
    display: flex;
    gap: 25px; 
}

#header div a{
   color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 600;
   border-radius: 5px;
   transition: background-color 0.3s ease, transform 0.3s ease;
}

#header div a:hover {
    background-color: hsl(261, 94%, 69%);
    transform: scale(1.05);
    transform: scale(1.06);
  
}